
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large ;
    background-color: #DA9FF9;
    padding: 30px;
}


/* section {
    position: relative;
    background-color: blueviolet;
    padding: 20px;
    margin: 50px;
    height: 65px;
    
    
} */

body {
    background-color: #BEDCFA;
}

.about, .projects, .contact {
        position: absolute;
        background-color: aquamarine;
        padding: 30px;
        border: 20px;
        margin: 20px 20px 50px;
        transform: translate(0, -75px);
        border-radius: 10px;

         

} 
.profile {
    width: 200px;
    height: auto;
    float: left;
    margin-right: 10px;
}

img {
    width: 100%;
    height: 100%;
}

.box-title {
    position: relative;
    background-color: #98ACF8;
    padding: 20px;
    margin: 50px;
    /* height: 100px; */
}

.projects {
    background-color: aquamarine;
   
}



.paragraph {
    padding: 30px;
    background-color: #3e1983;
    color: white;
    width: 45%;

    
}


.container {
    display: flex;
    justify-content: space-evenly;
}



.paragraph a {
    color: white
}

footer {
    text-align: center;
}