
/* added font family and weight */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100; 

}

/* edit for nav bar */
nav {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large ;
    background-color: #DA9FF9;
    padding: 30px;
}


/* background color for body */
body {
    background-color: #BEDCFA;
}

/* added */
h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
}

.about, .projects, .contact {
        position: absolute;
        background-color: aquamarine;
        padding: 30px;
        border: 20px;
        margin: 20px 20px 50px;
        transform: translate(0, -75px);
        border-radius: 10px;
        box-shadow: -10px -10px;
        color: #A85CF9;

        
} 


/* about me image*/ 
.profile {
    width: 200px;
    height: auto;
    float: left;
    margin-right: 10px;
    border-radius: 50px;
}

/* project image */
.Horiseon {
    width: 100px;
    height: auto;
    float: left;
    margin-right: 10px;
}
/* placeholder image */
img {
    width: 100%;
    height: auto;
}

.paragraph {
    padding: 30px;
    background-color: #3e1983;
    color: white;
    width: 45%;  
}

.paragraph a {
    color: white
}

.container {
    display: flex;
    justify-content: space-evenly;
}



footer {
    text-align: center;
    font-weight: bolder;
}



/* new ids added to link nav links */
#about, #projects, #contact {
    position: relative;
    background-color: #98ACF8;
    padding: 20px;
    margin: 50px;
    border-radius: 60px;
}

/* added git hub link to l1 for contact me */

ul, li {
    text-align: center;
    text-decoration: underline;
    margin: 20px;
}





